<div >
	<h1>Compose a message</h1>


	<%= form_for :message, url: "/messages", method: "post" do |f| %>

		<%= f.hidden_field :planet_id, :value => @planet[:name] %>
		From: <%= current_user.username %> <%= f.hidden_field :user_id, :value => current_user.username %> <br>
	    Target System: <%= @planet[:name] %> <br>
	    Estimated Delivery: <%= @planet[:distance] %> years <%= f.hidden_field :distance, :value => @planet[:distance] %> <br>
	    Message: <%= f.text_area :content %> <br>
	    <br>
	    <div class="caution">
	    	<p>Caution: All messages sent through Cosmic Beacon to targeted exoplanetary systems are delivered at light-speed, via high-frequency radio transmissions, and are irrevocable. Before sending any message, please consider the impression you may make upon any listening, sentient species, on behalf of the entire planet Earth.</p>
	    </div>
	    
	    <%= f.submit "Send Message" %>

	<% end %>

</div>