<div >
	<h1>Compose a message</h1>


	<%= form_for :message, url: "/messages", method: "post" do |f| %>

	    Target System: <%= @planet[:name]  %> <br>
	    Estimated Delivery: <%= @planet[:distance] %> years <br>
	    Message: <%= f.text_area :content %> <br>
	    <%= f.submit "Send Message" %>

	<% end %>

</div>