<div >

	<h1>Exoplanets in our neighborhood</h1>

	<h3>A filtered list of exoplanets, with known distances, within 150 light years of Earth.</h3>

	<table class="table">
		<tr>
			<th>Planet Name</th>
			<th>Host Star</th>
			<th>Distance (ly)</th>
			<th>Average Planet Temp (C)</th>
			<th>Planet Mass (Earth Masses)</th>
			<th colspan="2"></th>
		</tr>

		<% @planets.each do |planet| %>
			<tr>
				<td><%= planet[:name] %></td>
				<td><%= planet[:star] %></td>
				<td><%= planet[:distance] %></td>
  
				<td> 
					<% if (planet[:temp]!=nil) %>
						<%= (planet[:temp].to_f-273.15).round(2) %>
					<% end %>
				</td>
				
				<td>
					<% if (planet[:mass]!=nil) %>
						<%= (planet[:mass].to_f).round(2) %>
					<% end %>
				</td>
				<td>
					<% if (planet[:link]!=nil) %>
						<a href="<%= planet[:link] %>">More Info</a>
					<% end %>
				</td>
				<td><%= link_to 'Send Message', new_planet_message_path(planet[:planet_id]) %></td>
			</tr>
		<% end %>


	</table>

</div>