<div >

	<h1>Planets index</h1>

	<h3>A filtered list of exoplanets within 150 light years of earth.</h3>

	<table class="table">
		<tr>
			<th>Planet Name</th>
			<th>Host Star</th>
			<th>Distance (ly)</th>
			<th>Avg. Planet Temp</th>
			<th>Planet Mass (Earth Masses)</th>
			<th>More Planet Info</th>
			<th colspan="1"></th>
		</tr>

		<% @planets.each do |planet| %>
			<tr>
				<td><%= planet[:name] %></td>
				<td><%= planet[:star] %></td>
				<td><%= planet[:distance] %></td>
				<td><%= planet[:temp] %></td>
				<td><%= planet[:mass] %></td>
				<td><%= planet[:link] %></td>
				<td><%= link_to 'Send Message' %></td>
			</tr>
		<% end %>


	</table>

</div>